<body>
	<div id="particles-js"> 
	</div>

	<div class="dev-header">
		<%= render partial: "shared/head"%>
	</div>


	<section class="container-fluid">   
		<div class="row acid-developer" align="center">     
			<div class="col-sm-3">
				<div class="card" data-toggle="modal" data-target="#vanModal">
					<%= image_tag("van.png", class: "img-circle img-responsive") %>
					<h4><b> Ariel Van Bugayong</b></h4> 
					<p>Founder/Game Developer</p> 
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card" data-toggle="modal" data-target="#kimModal">
					<%= image_tag("kim.png", class: "img-circle img-responsive") %>
					<h4><b> Kim Dominique Naoe Vasquez</b></h4> 
					<p>Founder/Game Developer</p> 
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card" data-toggle="modal" data-target="#eddModal">
					<%= image_tag("edd.png", class: "img-circle img-responsive") %>
					<h4><b> Christian Edd Prestoza</b></h4> 
					<p>Co-Founder, 3D Artist, Graphic Artist, 3D Animator</p> 
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card" data-toggle="modal" data-target="#markModal">
					<%= image_tag("mark.png", class: "img-circle img-responsive") %>
					<h4><b> Mark Fernandez</b></h4> 
					<p>Graphic Artist, 3D Artist, Game Developer, 2D Animator</p> 
				</div>
			</div>
		</div>

		<div class="row acid-developer2" align="center" >

			<div class="col-sm-3">
				<div class="card" data-toggle="modal" data-target="#jigsModal">
					<%= image_tag("jigs.png", class: "img-circle img-responsive") %>
					<h4><b> John Christopher Columbresgep</b></h4> 
					<p>3D Artist, Texture Artist, Graphic Artist</p> 
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card" data-toggle="modal" data-target="#geoModal">
					<%= image_tag("geo.png", class: "img-circle img-responsive") %>
					<h4><b> Geo Zarate Siador</b></h4> 
					<p>Graphic Artist, Character Sketch And Designs</p> 
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card" data-toggle="modal" data-target="#francisModal">
					<%= image_tag("francis.png", class: "img-circle img-responsive") %>
					<h4><b> Francis Gonzales</b></h4> 
					<p>Graphic Artist, 3D Artist, Game Developer</p> 
				</div>
			</div> 

			<div class="col-sm-3">
				<div class="card" data-toggle="modal" data-target="#rommelModal">
					<%= image_tag("rommel.png", class: "img-circle img-responsive") %>
					<h4><b> Rommel Joshua Diaz</b></h4> 
					<p> Game Developer</p> 
				</div>
			</div> 


			</div>		



		</section>

 <!-- Modal -->
  <div class="modal fade" id="vanModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1>Van Ariel Bugayong</h1>
          <h2> Game Developer</h2>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, vis justo utamur ad, malis democritum mel te. Affert tacimates moderatius nec in, qui no nibh deseruisse, ex dicta putant eum. Sit an meis mazim constituto, eu his putent iudicabit. Id qui adhuc liber maiorum, clita omnium honestatis pro an, quem mutat no nam..</p>
        </div>
      </div>
      
    </div>
  </div>

    <div class="modal fade" id="vanModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1>Van Ariel Bugayong</h1>
          <h2> Game Developer</h2>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, vis justo utamur ad, malis democritum mel te. Affert tacimates moderatius nec in, qui no nibh deseruisse, ex dicta putant eum. Sit an meis mazim constituto, eu his putent iudicabit. Id qui adhuc liber maiorum, clita omnium honestatis pro an, quem mutat no nam..</p>
        </div>
      </div>
      
    </div>
  </div>


  <div class="modal fade" id="kimModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1>Van Ariel Bugayong</h1>
          <h2> Game Developer</h2>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, vis justo utamur ad, malis democritum mel te. Affert tacimates moderatius nec in, qui no nibh deseruisse, ex dicta putant eum. Sit an meis mazim constituto, eu his putent iudicabit. Id qui adhuc liber maiorum, clita omnium honestatis pro an, quem mutat no nam..</p>
        </div>
      </div>
      
    </div>
  </div>

    <div class="modal fade" id="eddModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1>Van Ariel Bugayong</h1>
          <h2> Game Developer</h2>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, vis justo utamur ad, malis democritum mel te. Affert tacimates moderatius nec in, qui no nibh deseruisse, ex dicta putant eum. Sit an meis mazim constituto, eu his putent iudicabit. Id qui adhuc liber maiorum, clita omnium honestatis pro an, quem mutat no nam..</p>
        </div>
      </div>
      
    </div>
  </div>

    <div class="modal fade" id="markModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1>Van Ariel Bugayong</h1>
          <h2> Game Developer</h2>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, vis justo utamur ad, malis democritum mel te. Affert tacimates moderatius nec in, qui no nibh deseruisse, ex dicta putant eum. Sit an meis mazim constituto, eu his putent iudicabit. Id qui adhuc liber maiorum, clita omnium honestatis pro an, quem mutat no nam..</p>
        </div>
      </div>
      
    </div>
  </div>

    <div class="modal fade" id="jigsModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1>Van Ariel Bugayong</h1>
          <h2> Game Developer</h2>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, vis justo utamur ad, malis democritum mel te. Affert tacimates moderatius nec in, qui no nibh deseruisse, ex dicta putant eum. Sit an meis mazim constituto, eu his putent iudicabit. Id qui adhuc liber maiorum, clita omnium honestatis pro an, quem mutat no nam..</p>
        </div>
      </div>
      
    </div>
  </div>

    <div class="modal fade" id="geoModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1>Van Ariel Bugayong</h1>
          <h2> Game Developer</h2>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, vis justo utamur ad, malis democritum mel te. Affert tacimates moderatius nec in, qui no nibh deseruisse, ex dicta putant eum. Sit an meis mazim constituto, eu his putent iudicabit. Id qui adhuc liber maiorum, clita omnium honestatis pro an, quem mutat no nam..</p>
        </div>
      </div>
      
    </div>
  </div>

    <div class="modal fade" id="francisModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1>Van Ariel Bugayong</h1>
          <h2> Game Developer</h2>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, vis justo utamur ad, malis democritum mel te. Affert tacimates moderatius nec in, qui no nibh deseruisse, ex dicta putant eum. Sit an meis mazim constituto, eu his putent iudicabit. Id qui adhuc liber maiorum, clita omnium honestatis pro an, quem mutat no nam..</p>
        </div>
      </div>
      
    </div>
  </div>

    <div class="modal fade" id="rommelModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1>Van Ariel Bugayong</h1>
          <h2> Game Developer</h2>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, vis justo utamur ad, malis democritum mel te. Affert tacimates moderatius nec in, qui no nibh deseruisse, ex dicta putant eum. Sit an meis mazim constituto, eu his putent iudicabit. Id qui adhuc liber maiorum, clita omnium honestatis pro an, quem mutat no nam..</p>
        </div>
      </div>
      
    </div>
  </div>





		<%= render partial: "shared/footer"%>


	</body>
